{% extends 'tutor_leader/visit/base.html' %}

{% block content %}
<div class="section-title">
  <a class="btn btn-default" href="#"><span class='glyphicon glyphicon-plus-sign'></span>&nbsp Nueva Visita</a>
  <hr>
</div>

{% if object_visit %}
<table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" id="my-table">
  <thead>
    <tr>
      <td>ID</td>
      <td>Fecha</td>
      <td>Motivo</td>
      <td>Escuela</td>
      <td>Responsable</td>
      <td>Estado</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for visit in object_visit %}
      <td>{{ visit.id }}</td>
      <td>{{ visit.date_planned|date:'Y-m-d H:i' }}</td>
      <td>{{ visit.requirement }}</td>
      <td>{{ visit.requirement.school }}</td>
      <td>{{ visit.user }}</td>
      <td>
          {% if visit.state == 1 %}
          Pendiente
          {% elif visit.state == 2 %}
          Realizada
          {% else %}
          No Realizada
          {% endif %}
      </td>
      <td>
        <a class="btn btn-success" href="{% url 'accounts:visit_show_tutor_leader' visit.id %}"><span class='glyphicon glyphicon-eye-open'></span></a>
        <a class="btn btn-default" href="#"><span class='glyphicon glyphicon-edit'></span></a>
        <a class="btn btn-default" href="#"><span class='glyphicon glyphicon-trash'></span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h3>No hay registros que mostrar</h3>
{% endif %}

{% endblock%}
