{% extends 'tech/visit/base.html' %}

{% block content %}

<div class="section-title">
  <a class="btn btn-default" href="{% url 'accounts:visit_list_tech' %}"><span class='glyphicon glyphicon-chevron-left'></span>&nbsp Atrás</a>
  <hr>
</div>

<p><strong>Fecha: </strong>{{ object.date_planned }}</p>
<p><strong>Motivo: </strong>{{ object.requirement }}</p>
<p><strong>Escuela: </strong>{{ object.requirement.school }}</p>
<p><strong>Responsable: </strong>{{ object.user }}</p>
<hr>
<p><strong>Creado por: </strong>{{ object.created_by }}</p>
<p><strong>Fecha de creación: </strong>{{ object.date_joined }}</p>
{% if object.updated_by == None %}
<!--No hay información-->
{% else %}
<p><strong>Modificado por: </strong>{{ object.updated_by }}</p>
<p><strong>Fecha de modificación: </strong>{{ object.date_updated }}</p>
{% endif %}
<hr>
{% endblock%}
