{% extends 'tech_leader/sector/base.html' %}

{% block content %}

<div class="section-title">
  <a class="btn btn-default" href="{{request.META.HTTP_REFERER|escape }}"><span class='glyphicon glyphicon-chevron-left'></span>&nbsp Atrás</a>
  <hr>
</div>

<form method="post">
  {% csrf_token %}
  <h3>¿Quieres eliminar el sector {{ object.name }} ?</h3>
  <h4>Si eliminas este registro, no podrás recuperarlo.</h4>
  <hr>
  <button class="btn btn-danger" type="submit"><span class='glyphicon glyphicon-trash'></span>&nbsp Eliminar sector</button>
  <a class="btn btn-default" href="{{request.META.HTTP_REFERER|escape }}"><span class='glyphicon glyphicon-remove'></span>&nbsp Cancelar</a>
</form>
{% endblock%}
