{% extends 'tech_leader/sector/base.html' %}

{% block content %}

<div class="section-title">
  <a class="btn btn-default" href="{% url 'accounts:sector_list' %}"><span class='glyphicon glyphicon-chevron-left'></span>&nbsp Atrás</a>
  <a class="btn btn-primary" href="{% url 'accounts:sector_update' object.id %}"><span class='glyphicon glyphicon-edit'></span>&nbsp Editar</a>
  <a class="btn btn-danger" href="{% url 'accounts:sector_delete' object.id %}"><span class='glyphicon glyphicon-trash'></span>&nbsp Eliminar</a>
  <hr>
</div>

<h3 class="header">Información General</h3>
<p><strong>ID: </strong>{{ object.id }}</p>
<p><strong>Nombre: </strong>{{ object.name }}</p>
<p><strong>Descripción: </strong>{{ object.description }}</p>
{% if object_school %}
<p><strong>Escuelas: </strong></p>
{% for school in object_school %}
<p>{{ school.name }}</p>
{% endfor %}
{% else %}
<!--No hay información-->
{% endif %}
<hr>

<h3 class="header">Registro de actividad</h3>
<p><strong>Creado por: </strong>{{ object.created_by }}</p>
<p><strong>Fecha de creación: </strong>{{ object.date_joined }}</p>
{% if object.updated_by == None %}
<!--No hay información-->
{% else %}
<p><strong>Modificado por: </strong>{{ object.updated_by }}</p>
<p><strong>Fecha de modificación: </strong>{{ object.date_updated }}</p>
{% endif %}
<hr>
{% endblock%}
