{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Mis visitas</li>
    </ol>
  </nav>
  <h2 class="mb-3">Mis visitas</h2>
  <a href="{% url 'jefes:visita_add' %}" class="btn btn-primary mb-3" role="button">Añadir visita</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Visita</th>
          <th>Subject</th>
          <th>Requerimientos</th>
          <th>Taken</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for visita in visitas %}
          <tr>
            <td class="align-middle"><a href="{% url 'jefes:visita_change' visita.pk %}">{{ visita.name }}</a></td>
            <td class="align-middle">{{ visita.subject.get_html_badge }}</td>
            <td class="align-middle">{{ visita.requerimiento_count }}</td>
            <td class="align-middle">{{ visita.taken_count }}</td>
            <td class="text-right">
              <a href="{% url 'jefes:visita_results' visita.pk %}" class="btn btn-primary">View results</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any visita yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
