{% if object_visit %}

<!--Planning List-->
  <div id="bool"></div>
  {% for visit in object_visit %}
  <a href="{% url 'accounts:planning_show' visit.id %}">
    <div class="item">
      <div class="row">
        <p class="item-time col col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ visit.date_planned }}</p>
        <p class="item-code col col-lg-4 col-md-4 col-sm-4 col-xs-4 ">{{ visit.requirement.school.amie }}</p>
        <p class="item-name col col-lg-8 col-md-8 col-sm-8 col-xs-8">{{ visit.requirement.school }}</p>
        <p class="item-address col col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ visit.requirement.school.address }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
{% else %}
<!--Empty PlanningList-->
  <div class="item-empty">
    <div class="row">
      <p class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">NO HAY VISITAS</p>
      <p class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">PROGRAMADAS</p>
    </div>
  </div>
{% endif %}
