{% extends 'tutor_leader/planning/base.html' %}

{% block content %}
<div class="section-title">
  <a class="btn btn-success" href="{% url 'accounts:planning_requirement_create' %}"><span class='glyphicon glyphicon-plus-sign'></span>&nbsp Nueva Visita</a>
  <hr>
</div>

<div class="row">
  {% if object_visit %}
  <!--Planning List-->
  <div class="pre-scrollable col col-lg-6 col-md-6 col-sm-6 col-xs-12">
    {% for visit in object_visit %}
    <a href="{% url 'accounts:planning_show' visit.id %}">
      <div class="item">
        <div class="row">
          <p class="item-time col col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ visit.date_planned }}</p>
          <p class="item-form col col-lg-6 col-md-6 col-sm-6 col-xs-6">N° 0000000293</p>
          <p class="item-code col col-lg-4 col-md-4 col-sm-4 col-xs-4 ">{{ visit.requirement.school.amie }}</p>
          <p class="item-name col col-lg-8 col-md-8 col-sm-8 col-xs-8">{{ visit.requirement.school }}</p>
          <p class="item-address col col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ visit.requirement.school.address }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <!--Empty PlanningList-->
  <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="item-empty">
      <div class="row">
        <p class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">NO HAY VISITAS</p>
        <p class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">PROGRAMADAS</p>
      </div>
    </div>
  </div>
  {% endif %}
  <!--Calendario-->
  <div class="pre-scrollable col col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>Calendar</p>
    <p>Calendar</p>
    <p>Calendar</p>
    <p>Calendar</p>
    <p>Calendar</p>
    <p>Calendar</p>
    <p>Calendar</p>
    <p>Calendar</p>
    <p>Calendar</p>
    <p>Calendar</p>
    <p>Calendar</p>
    <p>Calendar</p>
  </div>
</div><!-- /row -->
{% endblock%}
