{% extends 'tech_leader/user/base.html' %}

{% block content %}
<h1>Registro de Usuarios</h1>
<a class="btn btn-success" href="{% url 'accounts:user_create' %}">Nuevo Registro &nbsp<span class='glyphicon glyphicon-plus'></span></a>
<hr>

{% if object_list %}
<table class="table table-bordered">
  <thead>
    <tr>
      <td><strong>Cédula</strong></td>
      <td><strong>Nombre</strong></td>
      <td><strong>Apellido</strong></td>
      <td><strong>Usuario</strong></td>
      <td><strong>Correo electrónico</strong></td>
      <td><strong>Teléfono</strong></td>
      <td><strong>Tipo de Usuario</strong></td>
      <td><strong>Acciones</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for user in object_list %}
      <td>{{ user.dni }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone_number }}</td>
      <td>
        {% if user.user_type == 1 %}
        tutor
        {% elif user.user_type == 2 %}
        tech
        {% elif user.user_type == 3 %}
        tutor_leader
        {% else %}
        tech_leader
        {% endif %}
      </td>
      <td>
        <a class="btn btn-success" href="{% url 'accounts:user_show' user.id %}"><span class='glyphicon glyphicon-eye-open'></span></a>
        <a class="btn btn-primary" href="{% url 'accounts:user_update' user.id %}"><span class='glyphicon glyphicon-edit'></span></a>
        <a class="btn btn-danger" href="{% url 'accounts:user_delete' user.id %}"><span class='glyphicon glyphicon-trash'></span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h3>No hay registros que mostrar</h3>
{% endif %}

{% endblock%}
