{% extends 'tech_leader/user/base.html' %}

{% block content %}

<div class="section-title">
  <a class="btn btn-default" href="{% url 'accounts:user_list' %}"><span class='glyphicon glyphicon-chevron-left'></span>&nbsp Atrás</a>
  <a class="btn btn-primary" href="{% url 'accounts:user_update' object.id %}"><span class='glyphicon glyphicon-edit'></span>&nbsp Editar</a>
  <a class="btn btn-danger" href="{% url 'accounts:user_delete' object.id %}"><span class='glyphicon glyphicon-trash'></span>&nbsp Eliminar</a>
  <hr>
</div>

<p><strong>Cédula: </strong>{{ object.dni }}</p>
<p><strong>Nombre: </strong>{{ object.first_name }}</p>
<p><strong>Apellido: </strong>{{ object.last_name }}</p>
<p><strong>Usuario: </strong>{{ object.username }}</p>
<p><strong>Correo electrónico: </strong>{{ object.email }}</p>
<p><strong>Teléfono: </strong>{{ object.phone_number }}</p>
<p>
  <strong>Tipo de usuario: </strong>
  {% if object.user_type == 1 %}
  Tutor
  {% elif object.user_type == 2 %}
  Técnico
  {% elif object.user_type == 3 %}
  Tutor Líder
  {% else %}
  Técnico Líder
  {% endif %}
</p>
<hr>

{% if object.sector.all %}
<p><strong>Sectores: </strong></p>
{% for sector in object.sector.all %}
<p>{{ sector.name }}</p>
{% endfor %}
<hr>
{% else %}
<!--No hay información-->
{% endif %}

<p><strong>Creado por: </strong>{{ object.created_by }}</p>
<p><strong>Fecha de creación: </strong>{{ object.date_joined }}</p>
{% if object.updated_by == None %}
<!--No hay información-->
{% else %}
<p><strong>Modificado por: </strong>{{ object.updated_by }}</p>
<p><strong>Fecha de modificación: </strong>{{ object.date_updated }}</p>
{% endif %}
<hr>

{% endblock%}
