{% extends 'tech_leader/user/base.html' %}

{% block content %}

<div class="section-title">
  <a class="btn btn-default" href="{% url 'accounts:user_list' %}"><span class='glyphicon glyphicon-chevron-left'></span>&nbsp Atrás</a>
  <a class="btn btn-primary" href="{% url 'accounts:user_update' object.id %}"><span class='glyphicon glyphicon-edit'></span>&nbsp Editar</a>
  <a class="btn btn-danger" href="{% url 'accounts:user_delete' object.id %}"><span class='glyphicon glyphicon-trash'></span>&nbsp Eliminar</a>
  <hr>
</div>

<p><strong>Cédula: </strong>{{ object.dni }}</p>
<p><strong>Nombre: </strong>{{ object.first_name }}</p>
<p><strong>Apellido: </strong>{{ object.last_name }}</p>
<p><strong>Usuario: </strong>{{ object.username }}</p>
<p><strong>Correo electrónico: </strong>{{ object.email }}</p>
<p><strong>Teléfono: </strong>{{ object.phone_number }}</p>
<p>
  <strong>Tipo de usuario: </strong>
  {% if object.user_type == 1 %}
  tutor
  {% elif object.user_type == 2 %}
  tech
  {% elif object.user_type == 3 %}
  tutor_leader
  {% else %}
  tech_leader
  {% endif %}
</p>

<hr>
{% endblock%}
