{% extends 'tech_leader/school/base.html' %}

{% block content %}
<div class="section-title">
  <!--<h1>Registro de Escuelas</h1>-->
  <a class="btn btn-success" href="{% url 'accounts:user_create' %}">Nuevo Escuela &nbsp<span class='glyphicon glyphicon-plus'></span></a>
  <hr>
</div>

{% if object_list %}
<table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" id="my-table">
  <thead>
    <tr>
      <td>AMIE</td>
      <td>Nombre</td>
      <!--<td>Teléfono</td>-->
      <td>Dirección</td>
      <!--<td>Referencia</td>-->
      <!--<td>Parroquia</td>-->
      <td>Prioridad</td>
      <td>Estado</td>
      <!--<td>Fecha de creación</td>-->
      <!--<td>Creado por</td>-->
      <!--<td>Sector</td>-->
      <!--<td>Embajador IN</td>-->
      <td>Jornada</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for school in object_list %}
      <td>{{ school.amie }}</td>
      <td>{{ school.name }}</td>
      <!--<td>{{ school.phone_number }}</td>-->
      <td>{{ school.address }}</td>
      <!--<td>{{ school.reference }}</td>-->
      <!--<td>{{ school.parish }}</td>-->
      <td>
        {% if school.priority == True %}
        Si
        {% else %}
        No
        {% endif %}
      </td>
      <td>
        {% if school.is_active == True %}
        Activo
        {% else %}
        Inactivo
        {% endif %}
      </td>
      <!--<td>{{ school.date_joined }}</td>-->
      <!--<td>{{ school.created_by }}</td>-->
      <!--<td>
        {% if school.sector_id == 1 %}
        Norte
        {% elif school.sector_id == 2 %}
        Centro
        {% elif school.sector_id == 3 %}
        Vía a la costa
        {% else %}
        Sur
        {% endif %}
      </td>-->
      <!--<td>{{ school.tutor_id }}</td>-->
      <td>
        {% if school.workday_id == 1 %}
        Matutina
        {% else %}
        Vespertina
        {% endif %}
      </td>
      <td>
        <a class="btn btn-success" href="{% url 'accounts:school_show' school.id %}"><span class='glyphicon glyphicon-eye-open'></span></a>
        <a class="btn btn-primary" href="{% url 'accounts:school_update' school.id %}"><span class='glyphicon glyphicon-edit'></span></a>
        <a class="btn btn-danger" href="{% url 'accounts:school_delete' school.id %}"><span class='glyphicon glyphicon-trash'></span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h3>No hay registros que mostrar</h3>
{% endif %}

{% endblock%}
