{% extends 'tech_leader/school/base.html' %}

{% block content %}

<div class="section-title">
  <a class="btn btn-default" href="{% url 'accounts:school_list' %}"><span class='glyphicon glyphicon-chevron-left'></span>&nbsp Atrás</a>
  <a class="btn btn-primary" href="{% url 'accounts:school_update' object.id %}"><span class='glyphicon glyphicon-edit'></span>&nbsp Editar</a>
  <a class="btn btn-danger" href="{% url 'accounts:school_delete' object.id %}"><span class='glyphicon glyphicon-trash'></span>&nbsp Eliminar</a>
  <hr>
</div>

<h3 class="header">Información General</h3>
<p><strong>AMIE: </strong>{{ object.amie }}</p>
<p><strong>Nombre: </strong>{{ object.name }}</p>
<p><strong>Teléfono: </strong>{{ object.phone_number }}</p>
<p><strong>Dirección: </strong>{{ object.address }}</p>
<p><strong>Referencia: </strong>{{ object.reference }}</p>
<p><strong>Parroquia: </strong>{{ object.parish }}</p>
<p>
  <strong>Prioridad: </strong>
  {% if object.priority == 1 %}
  No
  {% else %}
  Si
  {% endif %}
</p>
<p><strong>Sector: </strong>{{ object.sector }}</p>
<p>
  <strong>Estado: </strong>
  {% if object.is_active == True %}
  Activo
  {% else %}
  Inactivo
  {% endif %}
</p>
<p><strong>Embajador IN: </strong>{{ object.ambassador_in }}</p>
<p>
  <strong>Jornada: </strong>
  {% if object.workday == 1 %}
  Matutina
  {% elif object.workday == 2 %}
  Vespertina
  {% else %}
  Matutina/Vespertina
  {% endif %}
</p>
<hr>

<h3 class="header">Registro de actividad</h3>
<p><strong>Creado por: </strong>{{ object.created_by }}</p>
<p><strong>Fecha de creación: </strong>{{ object.date_joined }}</p>
{% if object.updated_by == None %}
<!--No hay información-->
{% else %}
<p><strong>Modificado por: </strong>{{ object.updated_by }}</p>
<p><strong>Fecha de modificación: </strong>{{ object.date_updated }}</p>
{% endif %}
<hr>
{% endblock%}
