{% extends 'tutor/requirement/base.html' %}

{% block content %}

<div class="section-title">
  <a class="btn btn-default" href="{% url 'accounts:requirement_list_tutor' %}"><span class='glyphicon glyphicon-chevron-left'></span>&nbsp Atrás</a>
    <hr>
</div>

<h3 class="header">Información General</h3>
<p><strong>ID: </strong>{{ object.id }}</p>
<p><strong>Motivo: </strong>{{ object.reason }}</p>
<p><strong>Escuela: </strong>{{ object.school }}</p>
<p><strong>Creado por: </strong>{{ object.user }}</p>
<p><strong>Fecha de creación: </strong>{{ object.date_joined }}</p>
<p>
  <strong>Estado: </strong>
  {% if requirement.state == 1 %}
  Pendiente
  {% elif requirement.state == 2 %}
  Atendido
  {% else %}
  Rechazado
  {% endif %}
</p>
<p>
  <strong>Tipo: </strong>
  {% if requirement.type == 1 %}
  Periódica
  {% elif requirement.type == 2 %}
  Llamada
  {% else %}
  Incidencia
  {% endif %}
</p>
<hr>
<h3 class="header">Registro de actividad</h3>
<p><strong>Creado por: </strong>{{ object.created_by }}</p>
<p><strong>Fecha de creación: </strong>{{ object.date_joined }}</p>
{% if object.updated_by == None %}
<!--No hay información-->
{% else %}
<p><strong>Modificado por: </strong>{{ object.updated_by }}</p>
<p><strong>Fecha de modificación: </strong>{{ object.date_updated }}</p>
{% endif %}
<hr>
{% endblock%}
