/*-----------------------------Fundación Edúcate------------------------------*/

body {
  position: relative;
  background-color: #fff;
  font-family: 'Muli';
}

nav {
  border-radius: 0 !important;
  background-color: #ffb347 !important;
  border-color: #ffb347 !important;
}

strong, label {
  font-weight: 600 !important;
  font-family: Helvetica !important;
  font-size: 15px;
}

li > label {
  font-weight: normal !important;
  font-family: Helvetica !important;
  font-size: 15px;
}

h3 {
  font-family: Helvetica !important;
  text-align: center;
  margin-top: 0px;
  color: #ff6c00;
  font-weight: bold;
}

form > .btn {
  margin-bottom: 20px;
}
.section-title {
  padding-top: 20px;
}

.navbar-brand {
  color: #fff !important;
}

.nav.navbar-nav > li > a {
  color: #fff !important;
}

.nav.navbar-nav > li > a:focus, .nav.navbar-nav > li > a:hover{
    background-color: #f26f23 !important;
    color: #fff !important;
    border-color: #f26f23 !important;
}

.nav.navbar-nav > .active > a, .nav.navbar-nav > .active > a:focus,
.nav.navbar-nav > .active > a:active, .nav.navbar-nav > .active > a:target,
.nav.navbar-nav > .active > a:active:focus {
    background-color: #f26f23 !important;
}

.navbar-inverse .navbar-toggle {
  border-color: #ffb347 !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #ffb347 !important;
  border-color: #ffb347 !important;
}

.sideMenu.navbar-inverse.open {
  background-color: #ffb347 !important;
}
/*------------------------- Planning + Calendar  -----------------------------*/

::-webkit-scrollbar {
    width: 0px !important;  /* remove scrollbar space */
    background: transparent !important;  /* optional: just make scrollbar invisible */
}

.item {
  /*background-color: #f9ffbe !important;*/
  border-color: #d3dce6 !important;
  border-radius: 15px !important;
  margin-bottom: 12px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 14px;
}

.item-empty {
  background-color: #f9ffbe !important;
  border-color: #d3dce6 !important;
  border-radius: 15px !important;
  margin-bottom: 12px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 130px !important;
  padding-bottom: 10px !important;
  font-size: 22px;
  height: 340px;
  color: gray;
  font-weight: bold;
  text-align: center;
}

.item-time {
  text-align: left !important;
  font-weight: 600 !important;
  font-family: Helvetica;
}

.item-time, .item-name {
  color: black;
  font-weight: bold;
  font-weight: 600 !important;
  font-family: Helvetica;
}

.item-code, .item-address {
  color: #333333 !important;
}

.item-form {
  text-align: right !important;
}

/*----------------------------- Data Tables ----------------------------------*/

thead, .dtr-title {
    font-weight: 600 !important;
    font-family: Helvetica;
}



.table.table-striped.table-bordered.dt-responsive.nowrap > tbody > tr > td > .btn {
  padding: 0px;
  padding-top: 2.5px;
  width: 25px;
  height: 25px;
}

.dtr-data > .btn {
  padding: 0px;
  padding-top: 2.5px;
  padding-right: 3px;
  padding-left: 2.5px;
  width: 25px;
  height: 25px;
}

#my-table_length {
  display: inline-block;
  float: left;
  margin-bottom: 5px;
}
#my-table_filter {
  display: inline-block;
  float: right;
  margin-bottom: 5px;
}

/*-------------------------- Sidebar Navigation ------------------------------*/

.overlay,.sideMenu {
  position: fixed;
  bottom: 0;
}

.overlay {
  top: 0;
  left: -100%;
  right: 100%;
  margin: auto;
  background-color: rgba(0,0,0,.4);
  z-index: 998;
  transition: all ease 20ms;
}

.sideMenu,.sidebarNavigation {
  z-index: 999;
  margin-bottom: 0;
}

.overlay.open {
  left: 0;
  right: 0;
}

.sidebarNavigation .left-navbar-toggle {
  float: left;
  margin-right: 0;
  margin-left: 15px;
}

.sideMenu {
  left: -100%;
  top: 52px;
  transition: all ease-in-out .4s;
  overflow: hidden;
  width: 100%;
  max-width: 50%;
}

.sideMenu.open {
  left: 0;
  display: block;
  overflow-y: auto;
}

.sideMenu ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}


/*--------------------------------- lg ---------------------------------------*/

@media (min-width: 1200px) {
  .item-code {
    width: 90px;
  }
}

/*--------------------------------- md ---------------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
  .item-code {
    width: 90px;
  }
  .item {
    font-size: 14px !important;
  }
  .item-time {
    display: inline;
    text-align: left;
    float: left;
  }
  .item-form {
    display: inline;
    text-align: right;
    float: right;
  }
}

/*--------------------------------- sm ---------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
  .item {
    font-size: 14px !important;
  }
  .item-code {
    width: 90px !important;
  }
  .item-time {
    display: inline;
    text-align: left;
    float: left;
  }
  .item-form {
    display: inline;
    text-align: right;
    float: right;
  }
}

/*--------------------------------- xs ---------------------------------------*/

@media (min-width: 321px) and (max-width: 767px) {
  #my-table_length {
    display: none;
  }
  .item {
    font-size: 12px !important;
  }
  .item-code {
    width: 90px !important;
  }
  .item-time {
    display: inline;
    text-align: left;
    float: left;
  }
  .item-form {
    display: inline;
    text-align: right;
    float: right;
  }
}

/*--------------------------------- xxs --------------------------------------*/

@media (max-width: 320px) {
  #my-table_length {
    display: none;
  }
  .item {
    font-size: 12px !important;
  }
  .item-time {
    display: inline;
    text-align: left;
    float: left;
  }
  .item-form {
    display: inline;
    text-align: right;
    float: right;
  }
}
