{% extends 'tutor_leader/requirement/base.html' %}

{% block content %}
<div class="section-title">
  <a class="btn btn-success" href="{% url 'accounts:requirement_create_tutor_leader' %}"><span class='glyphicon glyphicon-plus-sign'></span>&nbsp Nuevo Requerimiento </a>
  <hr>
</div>

{% if object_requirement %}
<table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" id="my-table">
  <thead>
    <tr>
      <td>ID</td>
      <td>Motivo</td>
      <td>Escuela</td>
      <td>Creado por</td>
      <td>Estado</td>
      <td>Tipo</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for requirement in object_requirement %}
      <td>{{ requirement.id }}</td>
      <td>{{ requirement.reason }}</td>
      <td>{{ requirement.school }}</td>
      <td>{{ requirement.user }}</td>
      <td>
        {% if requirement.state == 1 %}
        Pendiente
        {% elif requirement.state == 2 %}
        Atendido
        {% else %}
        Rechazado
        {% endif %}
      </td>
      <td>
        {% if requirement.type == 1 %}
        Periódica
        {% elif requirement.type == 2 %}
        Llamada
        {% else %}
        Incidencia
        {% endif %}
      </td>
      <td>
        <a class="btn btn-success" href="{% url 'accounts:requirement_show_tutor_leader' requirement.id %}"><span class='glyphicon glyphicon-eye-open'></span></a>
        <a class="btn btn-primary" href="{% url 'accounts:requirement_update_tutor_leader' requirement.id %}"><span class='glyphicon glyphicon-edit'></span></a>
        <a class="btn btn-danger" href="{% url 'accounts:requirement_delete_tutor_leader' requirement.id %}"><span class='glyphicon glyphicon-trash'></span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h3>No hay registros que mostrar</h3>
{% endif %}

{% endblock%}
