{% extends 'tutor_leader/requirement/base.html' %}

{% block content %}

<div class="section-title">
  <a class="btn btn-default" href="{% url 'accounts:requirement_list_tutor_leader' %}"><span class='glyphicon glyphicon-chevron-left'></span>&nbsp Atrás</a>
    <hr>
</div>

<p><strong>ID: </strong>{{ object.id }}</p>
<p><strong>Motivo: </strong>{{ object.reason }}</p>
<p><strong>Escuela: </strong>{{ object.school }}</p>
<p><strong>Creado por: </strong>{{ object.user }}</p>
<p><strong>Fecha de creación: </strong>{{ object.date_joined }}</p>
<p>
  <strong>Estado: </strong>
  {% if requirement.state == 1 %}
  Pendiente
  {% elif requirement.state == 2 %}
  Atendido
  {% else %}
  Rechazado
  {% endif %}
</p>
<p>
  <strong>Tipo: </strong>
  {% if requirement.type == 1 %}
  Periódica
  {% elif requirement.type == 2 %}
  Llamada
  {% else %}
  Incidencia
  {% endif %}
</p>
<hr>
{% endblock%}
