{% extends 'base.html' %}

{% block content %}
  {% include 'planificacionVisitas/subordinados/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Visita</th>
          <th>Subject</th>
          <th>Length</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for visita in visitas %}
          <tr>
            <td class="align-middle">{{ visita.name }}</td>
            <td class="align-middle">{{ visita.subject.get_html_badge }}</td>
            <td class="align-middle">{{ visita.requerimiento_count }} requerimientos</td>
            <td class="text-right">
              <a href="{% url 'subordinados:realizar_visita' visita.pk %}" class="btn btn-primary">Start visita</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No visita matching your interests right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
